<div class="flex flex-wrap mb-6">
    <h1 class="grow text-3xl md:text-4xl font-medium mb-2" i18n="@@employee.list.headline">Employees</h1>
    <div>
        <a routerLink="/employees/add" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2" i18n="@@employee.list.createNew">Create new Employee</a>
    </div>
</div>
@if (!employees || employees.length === 0) {
<div i18n="@@employee.list.empty">No Employees could be found.</div>
} @else {
<div class="overflow-x-auto">
    <table class="w-full">
        <thead>
            <tr>
                <th scope="col" class="text-left p-2" i18n="@@employee.id.label">Id</th>
                <th scope="col" class="text-left p-2" i18n="@@employee.name.label">Name</th>
                <th scope="col" class="text-left p-2" i18n="@@employee.email.label">Email</th>
                <th scope="col" class="text-left p-2" i18n="@@employee.phone.label">Phone</th>
                <th scope="col" class="text-left p-2" i18n="@@employee.role.label">Role</th>
                <th scope="col" class="text-left p-2" i18n="@@employee.createdAt.label">Created At</th>
                <th scope="col" class="text-left p-2" i18n="@@employee.updatedAt.label">Updated At</th>
                <th><!-- --></th>
            </tr>
        </thead>
        <tbody class="border-t-2 border-black">
            @for (employee of employees; track employee.id) {
            <tr class="odd:bg-gray-100">
                <td class="p-2">{{ employee.id }}</td>
                <td class="p-2">{{ employee.name }}</td>
                <td class="p-2">{{ employee.email }}</td>
                <td class="p-2">{{ employee.phone }}</td>
                <td class="p-2">{{ employee.role }}</td>
                <td class="p-2">{{ employee.createdAt }}</td>
                <td class="p-2">{{ employee.updatedAt }}</td>
                <td class="p-2">
                    <div class="float-right whitespace-nowrap">
                        <a [routerLink]="['/employees/edit', employee.id]" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm" i18n="@@employee.list.edit">Edit</a>
                        <button type="button" (click)="confirmDelete(employee.id!)" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm" i18n="@@employee.list.delete">Delete</button>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
}
