<div class="flex flex-wrap mb-6">
    <h1 class="grow text-3xl md:text-4xl font-medium mb-2" i18n="@@employee.add.headline">Add Employee</h1>
    <div>
        <a routerLink="/employees" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-4 rounded px-5 py-2" i18n="@@employee.add.back">Back to list</a>
    </div>
</div>
<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="addForm" field="name" i18n-label="@@employee.name.label" label="Name" />
    <app-input-row [group]="addForm" field="email" i18n-label="@@employee.email.label" label="Email" />
    <app-input-row [group]="addForm" field="phone" i18n-label="@@employee.phone.label" label="Phone" />
    <app-input-row [group]="addForm" field="role" i18n-label="@@employee.role.label" label="Role" />
    <app-input-row [group]="addForm" field="createdAt" i18n-label="@@employee.createdAt.label" label="Created At" />
    <app-input-row [group]="addForm" field="updatedAt" i18n-label="@@employee.updatedAt.label" label="Updated At" />
    <input type="submit" i18n-value="@@employee.add.headline" value="Add Employee" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2 mt-6" />
</form>
