<div class="flex flex-wrap mb-6">
    <h1 class="grow text-3xl md:text-4xl font-medium mb-2" i18n="@@order.add.headline">Add Order</h1>
    <div>
        <a routerLink="/orders" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-4 rounded px-5 py-2" i18n="@@order.add.back">Back to list</a>
    </div>
</div>
<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="addForm" field="totalAmount" i18n-label="@@order.totalAmount.label" label="Total Amount" />
    <app-input-row [group]="addForm" field="status" i18n-label="@@order.status.label" label="Status" />
    <app-input-row [group]="addForm" field="createdAt" i18n-label="@@order.createdAt.label" label="Created At" />
    <app-input-row [group]="addForm" field="updatedAt" i18n-label="@@order.updatedAt.label" label="Updated At" />
    <app-input-row [group]="addForm" field="customer" rowType="select" [options]="customerValues" i18n-label="@@order.customer.label" label="Customer" />
    <input type="submit" i18n-value="@@order.add.headline" value="Add Order" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2 mt-6" />
</form>
